<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>TV Shows</title>
</head>
<body>
    <div class="container">
        <div class="top mt-4">
            <h1>Edit {{ show.title }}</h1>
            <div class="d-flex justify-content-between">
                <a class="btn btn-lg btn-outline-primary" href="/dashboard">TV Shows</a>
                <a class="btn btn-lg btn-outline-dark" href="/logout">Logout</a>
            </div>
        </div>
        <div class="mid">
            <form action="/update/show" method="POST" name="show">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <li class="text-danger">{{ message }}</li>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <input type="hidden" aria-label="id" class="form-control" name="id" value="{{ show.id }}">
                <label for="title">Title:</label>
                <input type="text" aria-label="Title" class="form-control" name="title" value="{{ show.title }}">
                <label for="network">Network:</label>
                <input type="text" aria-label="Network" class="form-control" name="network" value="{{ show.network }}">
                <label for="release_date">Release Date:</label>
                <input type="date" aria-label="Release Date" class="form-control" name="release_date" value="{{ show.release_date }}">
                <label for="description">Description:</label>
                <input type="text" aria-label="Description" class="form-control" name="description" value="{{ show.description }}">
                <input type="hidden" aria-label="updated_at" class="form-control" name="updated_at" value="{{ show.updated_at }}">
                <button type="submit" class="btn btn-outline-success mt-4">Update</button>
            </form>
        </div>
    </div>
</body>
</html>